{% extends 'base.html.twig' %}

{% block title %}    Dashboard Template for Bootstrap {% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link href="{{ asset('css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Villa Lux</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="#">Settings</a></li>
           
            <li><a href="#"><select style="color: black;" onchange="location = this.value;">
              <option>Menu</option>
              <option value="">Calendar</option>
              <option value="">Reservations</option>
              <option value="">Users</option>
              <option value="">Gallery</option>
              <option value="">Payments</option>
            </select></a></li>
             <li><a href="#">Profile</a></li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

           
              <ul class="nav nav-sidebar">

<button style="width: 170px" class="btn btn-info" id="calendar">Calendar</button><br/><br/>
<button style="width: 170px" class="btn btn-info" id="reservation">Reservations</button><br/><br/>
<button style="width: 170px" class="btn btn-info" id="user">Users</button><br/><br/>
<button style="width: 170px" class="btn btn-info" id="gallery">Gallery</button><br/><br/>
<button style="width: 170px" class="btn btn-info" id="payment">Payments</button><br/><br/>
<button style="width: 170px" class="btn btn-info" id="apartment">Apartments</button><br/><br/>


              </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<br/>

            <div id="app_html">




                       <!-- PROSTOR ZA ISPISIVANJE PODATAK -->



            </div>




    </div>

{% endblock %}
{% block javascripts %}

    {{ parent() }}

  <script src="{{ asset('js/ie-emulation-modes-warning.js') }}"></script>
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js') }}"></script>

  <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{{ asset('js/holder.min.js') }}"></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>

    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>


    <script src="{{ asset('app.js') }}"></script>
                  <!-- GALLERY-->
    <script src="{{ asset('gallery/read-gallery.js') }}"></script>
    <script src="{{ asset('gallery/create-gallery.js') }}"></script>
                <!-- APARTMENT -->
    <script src="{{ asset('apartment/read-apartment.js') }}"></script>
    <script src="{{ asset('apartment/create-apartment.js') }}"></script>
    <script src="{{ asset('apartment/delete-apartment.js') }}"></script>
    <script src="{{ asset('apartment/edit-apartment.js') }}"></script>



{% endblock %}
