{% extends 'base.html.twig' %}

{% block title %}    Gallery {% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}"/>
    <link href="{{ asset('css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
    <link href="{{ asset('css/datepicker.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css')}}" rel="stylesheet"/>
    <link href="{{ asset('js/jquery-ui.css') }}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />

{% endblock %}

{% block body %}

        <input style="float: left" type="button" class="btn btn-primary" value="Back to homepage"
               onclick="location.href='{{ path('homepage') }}'"/>



        <br/><br/><br/><br/><br/>


    {% if is_granted('ROLE_USER') %}
        <center><div id="reservation_form">

          <input type="hidden" id="email" value={{ app.user.username }}>



            </div></center>
    {% else %}
        <center><div id="reservation_info">
                <div class="alert alert-danger">To book an apartment, please <a href="{{ path('login') }}"> login</a> first!</div>
        </div></center>
    {% endif %}


        <br/><br/><br/><br/>
        <div class="container">
            <div id="show_apartment">
                <!-- PRIKAZ Apartmana -->
        <div id="show_img" style="width: 30%; float: left">
                    <!-- PRIKAZ SLIKA -->
        </div>
        <div id="show_info" style="width: 60%;float: right">
                    <!-- PRIKAZ INFO -->
        </div>


            </div>
        </div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>

    <script src="{{ asset('reservation/show-reservation.js') }}"></script>
    <script src="{{ asset('reservation/update-price.js') }}"></script>
<script src="{{ asset('js/jquery-ui.js') }}"></script>
<script src="{{ asset('admin_apartment/show-apartment.js') }}"></script>


    <script type="text/javascript">
        $('#d_in').datepicker();
    </script>


{% endblock %}
