{% extends 'base.html.twig' %}

{% block title %}    Gallery {% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link href="{{ asset('css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}



    <div class="all">

        <input type="button" class="btn btn-primary" value="Back to homepage"
               onclick="location.href='{{ path('homepage') }}'"/>
        <center><div> <div id="info"> Login  </div>   </center>
        <br/>
        <div class="container">


            {% if error %}
                <div class="alert alert-danger">
                {#    {{ error.messageKey|trans(error.messageData, 'security') }} #}
                    {{ error.message | replace({"Bad credentials." : "Invalid username or password."}) }}
                </div>
            {% endif %}
                {{ form_start(form) }}
                    {{ form_row(form._username) }}
                    {{ form_row(form._password) }}
                    {{ form_widget(form._token) }}

                <button type="submit" class="btn btn-success btn-lg">login</button>
                {{ form_end(form) }}
            <br/>
            <a href="{{ path('registration') }}">If you do not have account, make it now.</a>

        </div>
    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

{% endblock %}