{% extends 'base.html.twig' %}

{% block title %}    Gallery {% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link href="{{ asset('css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
    <div class="all">

        {% include 'server/hederS.html.twig' %}

<br/><br/>

        <center><b> <div id="info"> Make Account </div>  </b></center>
        <br/>
        <div class="container">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
            <div id="registration">
            </div>
            <div class="col-sm-3"></div>


            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}


<script src="{{ asset('user/create-user.js') }}"></script>



{% endblock %}